/**
 * _vars.scss
 *
 * Various common variables including measurements, colours etc.
 */
 $fontFamily: 'Fenix', serif;
 $standardSpacing: 1.5em;
 $lineHeight: 1.5;

 /** Colours **/
 $baseColour: #09090B;
 $standoutColour: #FB601D;
 $alternateColour: #5A798B;
 $separateColour: #9CA09F;