/**
 * ui/elements.scss
 *
 * Styles for elements
 */

html{
    overflow-y:scroll; /* Force scrollbars 100% of the time */
    font-size: 1rem;
    font-family: $fontFamily;
    line-height: $lineHeight;
}
body{
    min-height: 100%;
    background: url(/images/background.png);
    color: $baseColour;
    padding: $standardSpacing 0;
}

h1, h2, h3, h4 {
    font-weight: normal;
    line-height: $lineHeight;
    margin: 0 0 0.75em;
    color: $alternateColour;
}
h1 {
    @media screen and (min-width: $desktop) {
        font-size: 3rem;
        line-height: $lineHeight;
        margin: 0 0 1em;
    }
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1rem;
}
p, ul, ol {
    margin: 0 0 $standardSpacing;
}
a {
    color: $standoutColour;
    text-decoration: none;
    &:hover {
        color: $alternateColour;
    }
}
abbr[title] {
    border: none;
}
img {
    max-width: 100%;
}